.containers{
    width: 69% !important; 
    margin: auto;

}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
}

.logonun{
    background-color: #ffcb04 !important;
}
.ticari{
    color: #ffcb04 !important;
}
.ticari-md{
    display: none !important;
}
.uyeol{
    padding: 12px !important;

}
::placeholder{
    color: black !important;
}
@media screen and (max-width:1180px) {
    .ticari-md{
        display:block !important;
        color: #ffcb04 !important;
    }
    .ticari{
        display: none !important;
    }
}
@media screen and (max-width:600px){
    .containers{
        width: 100% !important;
    
    }
    .logo{
        width: 50%;
    }
}